# Xcode
DerivedData/
*.xcuserstate
*.xcscmblueprint
*.xccheckout

# User-specific settings
*.xcuserdatad
*.xcodeproj/project.xcworkspace/xcuserdata
*.xcodeproj/xcuserdata

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# CocoaPods (if you ever use it)
Pods/
Podfile.lock

# Carthage (if used)
Carthage/

# Fastlane (if used)
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# Other
.DS_Store
*.orig
.vscode
